center{

	margin: 0 15%;
}
#container{
	margin: 0 15%;
}
h1{
	height: 70px;
	color: white;
	
	line-height: 70px;
	text-indent: 452px;
	
}
body{
	background-image: url(../img/夕阳.jpg);
	background-size: ;
}